.pagination {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card-link {
    padding: 10px;
}

.card-info {
    width: 300px;
    height: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.characters-container {
    display: flex;
}